<h1>Cornell Kappa Sigma</h1>
<a href='/'>Home</a>
<a href='/directory'>Directory</a>
<a href='/profile'>Profile</a>
<h1>Brothers</h1>
<form action="/logout" method="POST">

    <button type="submit">Logout</button>
</form>
<a href="../brothers/add.ejs" style="margin-left: 80%; font-size: 30px; font-weight: bold;">Add a Brother</a>
<style>
table, th, td {
    border:1px solid black;
  }
</style>

  
<table style="width:80%;margin-left: 10%;margin-top:30px;">
<tr style="font-weight: bold; font-size: 25px;">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Grad Year</th>
    <th>Email</th>
    <th>Phone Number</th>
</tr>
<% brothers.forEach(brother => { %>
    <tr>
        <th><%= brother.first_name %></th>
        <th><%= brother.last_name %></th>
        <th><%= brother.year %></th>
        <th><%= brother.email %></th>
        <th><%= brother.number %></th>
<% }) %>
</table>